*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background-color: #f5f5f5;
}

.header{
	width: 420px;
	height: 50px;
	background-color: #011e29;
	padding: 10px;
	margin: 10px;
}

.header > h2{
	color: white;
	text-align: center;
}

.container{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 10px;
}

.latest-news-section{
	height: 90px;
	width: 120px;
	background-color: #ffffff;
	border-radius: 5px;
}

.latest-news-section> h3{
	font-size: 12px;
	text-align: center;
	padding-top: 15px;
}

.latest-news-section>ul{
	align-items: center;
	margin-left: 25px;
	padding-left: 5px
}

.latest-news-section>ul>li{
	font-size: 10px;
	text-align: center;
	padding: 2px
}

.main-section{
	height: 110px;
	width: 150px;
	background-color: #ffffff;
	border-radius: 5px;	
}
.main-section>h3{
	font-size: 12px;
	text-align: center;
	padding-top: 15px;
}

.main-section>p{
	font-size: 9px;
	text-align: center;
	padding: 2px
}

.pictorial-news-section{
	height: 220px;
	width: 100px;
	background-color: #ffffff;
	border-radius: 5px;
	
}

.pictorial-news-section>h3{
	font-size: 12px;
	text-align: start;
	padding: 10px;
}

.pictorial-news-section>img {
	height: 60px;
	width: 100px;
	padding: 2px;
}